<div class="container">
    <div class="popUp" id="dashPopUp">

    <h4 id="dashboard">{{userName}}'S DASHBOARD</h4>
    <div id="infoPasser" style="display:none">{{userId}}

    </div>

        <button class="waves-effect waves-light btn black" id="createRoom" type="submit">CREATE ROOM</button>
        <button class="waves-effect waves-light btn black" id="roomList" type="submit">JOIN ROOMS</button>
        
        <div class="button">
            <a href="/logout">
                <button class="btn-floating btn-large waves-effect waves- red darken-1" id="logoutDash" title="Logout">
                    <i class="material-icons white-text">exit_to_app</i>
                    Log Out</button>
            </a>
        </div>
    </div>

    <div class="popUp" id="statPopUp">

        <div id="stats">
            <div id="mostWins">
                <h4 id="textStyle">LEADERBOARD</h4>
        </div>
    </div>
    </div>
</div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                //TODO: FIND OUT WHY INSTEAD OF RES.RENDER YOU MUST DO REDIRECT FROM AJAX
                var passed = $("#infoPasser").text();
                $("#infoPasser").remove();
                localStorage.setItem("userId", passed);
                var localId = localStorage.getItem("userId");
                console.log("\n\nlocalstorage"+localId);
                $.ajax({
                    type:"GET",
                    url: "/inGame/"+localId
                }).then(function(results){
                    console.log("inGameTest");
                    if(results.id) {
                    console.log(results.id);
                    location.href="/map/"+results.id;
                    }
                });
                $.ajax({
                    type:"GET",
                    url:"/stats",
                }).then(function(results){
                    var leaders = results[0];
                    for(var i = 0; i <leaders.length; i++){
                        var newDiv = $("<div>");
                        newDiv.text(`${leaders[i].username.toUpperCase()} WITH ${leaders[i].user_wins} WINS!`);
                        $("#textStyle").append(newDiv);
                    }
                })
                var createable = true;
                $("#createRoom").on("click", function () {
                    if(createable){
                        createable=false;
                    $.ajax({
                        url: "/api/new",
                        type: "POST",
                        data: {
                            player1Id: localStorage.getItem("userId")
                        }
                    }).then(function (data) {
                        console.log(data);
                        location.href = "/map/" + data;
                    });
                    }
                });
                $("#roomList").on("click", function () {
                    console.log("yayayay");
                    location.href = "/dashboard/rooms"
                })
            });


</script>