<div class="container">
    <div class="popUp" id="dashPopUp">

        <h3 id="dashboard">{{userName}}'s Dashboard</h3>
        <div id="infoPasser" style="display:none">{{userId}}</div>

    <div class="button-container">
        <button class="waves-effect waves-light btn black" id="createRoom" type="submit">CREATE ROOM</button>
        <button class="waves-effect waves-light btn black" id="roomList" type="submit">JOIN ROOMS</butt>
    </div>
            {{!--
            <button id="movement">Movement Test</button> --}}

            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
            <script>
                //TODO: FIND OUT WHY INSTEAD OF RES.RENDER YOU MUST DO REDIRECT FROM AJAX
                var passed = $("#infoPasser").text();
                localStorage.setItem("userId", passed);
                $("#infoPasser").remove();
                $("#createRoom").on("click", function () {
                    $.ajax({
                        url: "/api/new",
                        type: "POST",
                        data: {
                            player1Id: localStorage.getItem("userId")
                        }
                    }).then(function (data) {
                        console.log(data);
                        location.href = "/map/" + data;
                    });
                });
                var x = localStorage.getItem("userId");
                console.log('\n\n\n\n localstorage value is :' + x);
                $("#roomList").on("click", function () {
                    console.log("yayayay");
                    location.href = "/dashboard/rooms"
                })

    //    $("#movement").on("click", function () {
    //        var address = "/api/new/1";
    //        $.ajax({
    //            type: "PUT",
    //            url: address,
    //        }).then(function (data) {
    //            console.log(data);
    //        });
    //    });

            </script>