
<div id="gameWindow">
    <div id="game-board"></div>
</div>
<a href="/logout"><button class="btn-floating btn-large waves-effect waves-light black" id="logout"><i class="material-icons">exit_to_app</i>
Log Out</button></a>
<script src="/js/gameboard.js" type="text/javascript"></script>