<div class="mainDiv">
    <div class="PopUpWindow">
        <div class="userLoginWindow">
            <p>User Sign Up or Login</p>
            <a href="/signup" class="waves-effect waves-light btn red" id="btnSignUp">Sign Up</a>
            <a href="/signin" class="waves-effect waves-light btn red" id="btnLogin">Login</a>
        </div>
    </div>
</div>