<div class="container">
  <div class="popUp" id="roomPopUp">
    <div id="game-board"></div>


    <ul>
      {{#each rooms}} {{> rooms/room-block}} {{/each}}
    </ul>
        <a href="/dashboard" class="waves-effect waves-light btn black" id="button3">Back to Dashboard</a>


    <script src="/js/roomlist.js" type="text/javascript"></script>


     