<div id="game-board"></div>

<h1>Room List</h1>

<ul>
  {{#each rooms}} {{> rooms/room-block}} {{else}}
  <h3>NO ROOMS TO JOIN</h3>
  <button class="waves-effect waves-light btn black" id="createRoom" type="submit">CREATE ROOM</button>
  {{/each}}
</ul>

<a href="/dashboard">Back to Dashboard</a>

<script>
  var createable = true;
  $("#createRoom").on("click", function () {
    if (createable) {
      createable = false;
      $.ajax({
        url: "/api/new",
        type: "POST",
        data: {
          player1Id: localStorage.getItem("userId")
        }
      }).then(function (data) {
        location.href = "/map/" + data;
      });
    }
  });

</script>
<script src="/js/roomlist.js" type="text/javascript"></script>