<div class="container">
    <div class="popUp">
        <div class="input-field col m12">
            <form id="signup" name="signup" method="post" action="/signup">

                <label for="username"></label>
                <input class="text" name="username" type="text" placeholder="Username" />

                <label for="firstname"></label>
                <input name="firstname" type="text" placeholder="First Name" />

                <label for="lastname"></label>
                <input name="lastname" type="text" placeholder="Last Name" />

                <label for="password"></label>
                <input name="password" type="password" placeholder="Password" />
        </div>

        <div class="button-container">
            <button class="waves-effect waves-light btn black" id="button2" type="submit" value="Sign Up">Create Account</button>
        </div>
        </form>
    </div>