<div class="mainDiv">
        <div class="popUpWindow">
            <form id="signin" name="signin" method="post" action="signin">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input class="text" name="email" type="text" />
                    <label for="password">Password</label>
                    <input name="password" type="password" />
                </div>

                <button class="waves-effect waves-light btn red" id ="btn" type="submit" value="Login">Login</button>
                </form>
        </div>
</div>