<div class="container">
  <div class="popUp" id="winPopUp">
        
    <h4 id="dashboard">YOU WON!</h4>
         
    <div class="logout">
      <a href="/logout">
        <button class="btn-floating btn-large waves-effect waves red darken-1" id="logoutRoom2" title="Logout">
          <i class="material-icons">exit_to_app</i>
          Dashboard</button>
      </a>
    </div>

    <div class="dashboard">
      <a href="/dashboard">
        <button class="btn-floating btn-large waves-effect waves green darken-1" id="toDash2" title="Dashboard">
          <i class="material-icons">home</i>
          Log Out</button>
      </a>
    
    </div>
 
  </div>
</div>