
#teamLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#signin {
   margin: 70px auto;
   width: 70%;
  }

#signup {
    margin: 0 auto;
    width: 70%
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

#button1, #button2, #button3 {
    border-radius: 5px;
}

.popUp {
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 300px;
    height: 400px;
    position: absolute;
    left: 38%;
    top: 20%;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 50px;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus  {
    border-bottom: 1px solid #000;
    
    box-shadow: 0 1px 0 0 #000;
  }


.container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}



/* CSS for Gameboard Handlebar */
ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

li {
    height: 50px;
    width: 50px;
}

.moveli {
    display: inline;
}

.water {
    background-image: url("../images/water.gif");
    background-repeat: repeat;
    background-position: center;
}

#ship {
    height: 50px;
    width: 50px;
    background-image: url("../images/patrolv.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.chosen-move {
    background-image: url("../images/patrolv.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
    opacity: 0.6;
}

.move-btn {
    height: 50px;
    width: 50px;
    text-align: center;
}

.board-btn {
    height: 50px;
    width: 50px;
}

.attack {
    background-image: url("../images/target.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: cover;
}

.water:hover {
    background-image: url("../images/target.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: cover;
}


