ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.water {
    background-image: url("../images/water.gif");
    background-repeat: repeat;
    background-position: center;
}

#ship {
    background-image: url("../images/patrolv.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.board-btn {
    height: 50px;
    width: 50px;
}

.attack {
    background-image: url("../images/target.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: cover;
}

.water:hover {
    background-image: url("../images/target.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: cover;
}