#teamLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}

#signin {
   margin: 70px auto;
   width: 70%;
  }

#signup {
    margin: 0 auto;
    width: 70%
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

#button1, #button2, #button3, .room-join, #createRoom, #roomList {
    border-radius: 5px;
    font-family: 'Fugaz One', cursive;
}

.popUp {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 40px;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus  {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }


.container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}    

#dashPopUp {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 500px;
    height: 200px;
    top: 20%;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 40px;
}

#statPopUp {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 500px;
    height: 200px;
    top: 20%;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 40px;
}

#roomPopUp {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 500px;
    height: 320px;
    top: 20%;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 40px;
}

#losePopUp, #winPopUp {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 500px;
    height: 120px;
    top: 20%;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 40px;
}


#logoutGame {
    left: 99%;
    top: -420px;
}

#toDash, #logoutRoom { 
    left: 55%;
    top: -160px
}


#logoutRoom2, #toDash2 {
    left: 55%;
    top: -120px
}

#logoutDash {
    left: 55%;
    top: -150px;
}

#textStyle {
    font-family: 'Fugaz One', cursive;
    margin-top: -5px;
}

#dashboard {
    font-family: 'Fugaz One', cursive;

}

#RoomInfo {
    
    width: 300px;
    height: 100px;
    margin-top: 5px;    
}

#mostWins {
    margin-top: 10px;
}

/*CSS for Gameboard */

#gameWindow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 300px;
    height: 400px;
    position: absolute;
    left: 38%;
    box-shadow: 10px 10px 5px #888888;
    margin-top: -20px;
}

/* CSS for Gameboard Handlebar */
ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    vertical-align: top;
}

li {
    height: 50px;
    width: 50px;
}

li {
    height: 50px;
    width: 50px;
}

.moveli {
    display: inline;
}

.water {
    background-image: url("../images/water.gif");
    background-repeat: repeat;
    background-position: center;
}

.attack-close {
    background-image: url("../images/firex.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.enemy-attack {
    background-image: url("../images/splash.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
}

#ship {
    height: 50px;
    width: 50px;
    background-image: url("../images/patrolv.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.chosen-move {
    background-image: url("../images/patrolv.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
    opacity: 0.6;
}

.move-btn {
    background: black;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 12px;
    
}

.board-btn {
    height: 50px;
    width: 50px;
}

.attack {
    background-image: url("../images/target.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: cover;
}

.water:hover {
    background-image: url("../images/target.gif"), url("../images/water.gif");
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: cover;
}

#submit {
    background: green;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    font-family: 'Fugaz One', cursive;

}

#turn {
    background: red;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    font-family: 'Fugaz One', cursive;

}

