<div class="userBtn">
    <p>User Sign Up or Login</p>
    <a href = "/" class= "btn btn-danger btn-lg" id="btnSignUp">Sign Up</a>
    <a href = "/" class= "btn btn-danger btn-lg" id="btnLogin">Login</a>
</div>
