<<<<<<< HEAD
<h4 id="dashboard">Room{{id}}</h4>
=======

	<h4 id="dashboard">Room{{id}}</h3>
>>>>>>> 4ff4ef49db5c4cbf9decbb72b5603e1b28624d7a
	<button class="waves-effect waves-light btn black room-join"  data-id="{{id}}">Join Room
	</button>
